<div class="report-bottom">
  <h4>Баланс</h4>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h4>Ваш персональный менеджер</h4>
    {{ form.label }}<br />

    Эл. почта: context@synapse-studio.ru<br /><br />
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <img alt="ваш менеджер" src="{{ info.manager.photo }}" />
  </div>
</div>
</div>

<div class="report-footer">
    <!--2013 — 2015 © <a href="http://synapse-studio.ru/">Синапс</a>.<br /-->
    Работает на <a href="http://synapse-studio.ru/uslugi/developing">Drupal</a>
</div>
